.system-monitor-cpu-usage-background {
  border: 1px solid ThreeDShadow;
}

.system-monitor-splitter {
  -moz-appearance: none;
  background: transparent;
  border: 0 none;
  min-width: 8px;
  margin: 0 -4px;
  max-width: 8px;
}
