.system-monitor-canvas-background {
  border: 1px solid ThreeDShadow;
}

.system-monitor-tooltip-label {
  margin: 0;
}

.system-monitor-splitter {
  -moz-appearance: none;
  background: transparent;
  border: 0 none;
  min-width: 8px;
  margin: 0 -4px;
  max-width: 8px;
}

[orient="vertical"] > .system-monitor-splitter {
  display: none;
}

.system-monitor-splitter-spacer {
	visibility: hidden;
}

.system-monitor-resizable-item + .system-monitor-resizable-item,
.system-monitor-resizable-item + .system-monitor-splitter + .system-monitor-resizable-item,
toolbarpaletteitem[id^="wrapper-system-monitor-"] + toolbarpaletteitem[id^="wrapper-system-monitor-"] {
  margin-left: 1px;
}

#palette-box toolbarpaletteitem .system-monitor-item .toolbarbutton-text {
  display: none;
}
