.system-monitor-cpu-usage-background,
.system-monitor-memory-usage-background {
  border: 1px solid ThreeDShadow;
}

.system-monitor-splitter {
  -moz-appearance: none;
  background: transparent;
  border: 0 none;
  min-width: 8px;
  margin: 0 -4px;
  max-width: 8px;
}

.system-monitor-item + .system-monitor-item,
.system-monitor-item + .system-monitor-splitter + .system-monitor-item,
toolbarpaletteitem[id^="wrapper-system-monitor-"] + toolbarpaletteitem[id^="wrapper-system-monitor-"] {
  margin-left: 1px;
}

