components/clI*.h
components/*.xpt
components/*.o
components/clSystemMonitor.so
system-monitor-*.xpi
Makefile
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
stamp-h1
