radio.image,
radio.image .radio-label-box,
radio.image .radio-label {
  box-align: center;
  -moz-box-align: center;
}

radio.image[src] .radio-icon {
  width: 48px;
  height: 24px;
}

button.reset {
  min-width: 0;
}

